{% extends 'base.html' %}

{% block content %}

    <center>
        <h2 style="background-color:rgb(184, 193, 90);">PELUANG</h2>  
    </center>

    <p></p>
    <center><img src="https://s3-ap-southeast-1.amazonaws.com/guruberbagi-real/production/cover/medium/49829-1591929664.jpeg" alt="Logo Peluang" width="900px"></center>

   <p></p>
    <p style="font-family: 'times new roman'">Peluang dapat diartikan sebagai kemungkinan terjadinya suatu peristiwa baik dilakukan dengan mencoba maupun perhitungan, peluang dikenal dengan juga dengan istilah probalitas. Peluang juga digunakan manusia untuk membantu dalam menentukan pengambilan keputusan yang tepat dan hal yang akan terjadi dan mengatasi kerugian. Konsep ruang digunakan dalam berbagai bidang kehidupan manusia</p>
    

    
    <hr />
    <footer>
        <div class="font-small">&copy; Creator by Pipin</div> 
    </footer>
{% endblock %}